html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(0, 17, 255, 0.633), rgba(209, 250, 2, 0.485));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    padding-top: 20px;
    user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background-color: rgba(111, 78, 115, 0.485);
    box-shadow: 0 19px 38px rgba(0, 255, 183, 0.633);
}

button {
    outline: none;
    border: 0;
    padding: 16px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    color: #b1ec87;
    transition: all 300ms;
    border: 1px solid #0001;
  }
  
  button:hover {
    color: #f500e9;
    background-color: rgb(240, 215, 243);
    border: 1px solid #56105c6c;
  }
  
  
  .result {
    position: relative;
    width: 320px;
    height: 80px;
    padding: 8px;
    overflow: hidden;
    background-color: rgba(19, 19, 19, .64);
    font-size: 32px;
    line-height: 2;
    color: #60d63c;
    text-align: right;
    direction: rtl;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .functions button, .math-operations button {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #8af4e2
  }
  
  .functions button:hover, 
  .math-operations button:hover {
    color: #0b1ef4;
  }
  
  .numbers {
    width: 240px;
    float: left;
  }
  
  .numbers button {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
  }
  
  .numbers button:last-child {
    width: 100%;
  }
  
  .functions {
    float: left;
    width: 240px;
  }